body {
  margin: 0;
  font-family:'Comic Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(250, 253, 211);
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.card{
  background-image:radial-gradient(circle, yellow, orange);
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  margin:1vmin;
  overflow:hidden;
  min-height: 300px;
  min-width: 400px;
  max-width: 50vw;
  padding: 20px;
}

.characterHeaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.characterHeader{
  height: 223;
  width: 222;
}

.quote {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.quote:before {
  border:solid 15px transparent;
  border-left:solid 15px #000;
  border-top:solid 15px #000;
  bottom:-30px;
  content:"";
  height:0;
  left:126px;
  position:absolute;
  transform:skew(45deg);
  width:0;
}

.quote:after {
  border:solid 13px transparent;
  border-left:solid 13px #fff;
  border-top:solid 13px #fff;
  bottom:-25px;
  content:"";
  height:0;
  left:126px;
  position:absolute;
  transform:skew(45deg);
  width:0;
}

.characterNameContainer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.characterName{
  transform:skew(-15deg);
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
  max-width: 200px;
}

.button{
  background-image:radial-gradient(circle, lightgrey, grey);
  transform:skew(-15deg);
  border:solid 2px #000;
  margin-top: 100px;
  padding:10px;
  max-width: 200px;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  cursor: pointer;
}
